body {
	/*background:#E6E6FA	;*/
	background-image:url("fondo.jpg");
	
	font-family:Comic Sans MS;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/*
h2#titulo {
    
	text-align: center;
	font-size:45px;
}
ul#menu {
   padding: 0;
}

ul#menu li {
   display: inline;
}

ul#menu li a {
   font-size:20px;
   background-color: #20B2AA;
   color: white;
   padding: 5px 5px; 
   text-decoration: none;
   border-radius: 4px 4px 0 0; 
}

div#sobrepuesta{
	float: right;
	background: url("engrane.jpg") no-repeat;
	width:480px;
	height:375px
}


input {
font-size: 120%;
color: #5a5854;
background-color: #f2f2f2;
border: 1px solid #bdbdbd;
border-radius: 5px;
padding: 5px 5px 5px 30px;
background-repeat: no-repeat;
background-position: 8px 9px;
display: block;
margin-bottom: 10px;
}

input:focus {
background-color: #ffffff;
border: 1px solid #b1e1e4;
}

*/
button#btn_showSub{
background-color: #006400;
}

input#email {
background-image: url("images/email.png");
}

input#descripcion {
 	width: 500px;
	height: 300px;
}

label#descripcion {
	    display: block;
	    padding-top: 0;
}
table#tab1 {
	margin-top: 200px;
}

th {
	text-align: left;
}